{% extends 'page/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_contents %}
    {{ page.html | raw }}

    <ul class="list-group">
        {% for teaser in page.contentElementsTeaser %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto col-10">
                    <div class="fw-bold">{{ teaser.title }}</div>
                    {{ teaser.text | raw }}
                </div>
                <div class="col-1 col-offset-1">

                    <a href="{{ teaser.link }}" type="button" class="btn btn-primary">Downloade</a>
                </div>
            </li>
        {% endfor %}


    </ul>

{% endblock %}