{% extends 'page/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block page_contents %}
    {{ page.html | raw }}
    {% set gruen ="#6eb493"  %}
    {% set rot ="#cb5858"  %}
    {% set gelb ="#e2b007"  %}
    {% set weis ="#fff"  %}
    <ul class="list-group">
        {% for teaser in page.contentElementsTeaser %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto col-10">
                    <div class="fw-bold">{{ teaser.title }}</div>
                    {{ teaser.text | raw }}
                </div>
                <div class="col-1 col-offset-1">
                    <a href="{{ teaser.link }}" type="button" class="btn btn-primary">Downloade</a>
                </div>
            </li>
        {% endfor %}


    </ul>
    {% for tournament in page.tournament %}
        <h2>{{tournament.name}}</h2>

        
        {{ include('snipets/tournamentChard.html.twig', {tournament:tournament}) }}

        <div class="accordion" id="accordionExample-{{tournament.name}}">
            {% if tournament.encounterRound1.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Finale", groupeNr:1, encounterRound:tournament.encounterRound1}) }}
            {% endif %}
            
            {% if tournament.encounterRound2.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Halbfinale", groupeNr:2, encounterRound:tournament.encounterRound2}) }}
            {% endif %}
           
            {% if tournament.encounterRound3.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Viertelfinale", groupeNr:3, encounterRound:tournament.encounterRound3}) }}
            {% endif %}
            
            {% if tournament.encounterRound4.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Achtelfinale", groupeNr:4, encounterRound:tournament.encounterRound4}) }}
            {% endif %}
            
            {% if tournament.encounterRound5.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Runde mit 32", groupeNr:5, encounterRound:tournament.encounterRound5}) }}
            {% endif %}
            
            {% if tournament.encounterRound6.0 is defined %}
                {{ include('snipets/tournamentEncounterAccordeon.html.twig', {headline:"Runde mit 64", groupeNr:6, encounterRound:tournament.encounterRound6}) }}
            {% endif %}
        </div
    {% endfor %}

    {% for championship in page.championship %}
        <h2>{{championship.name}}</h2>
        <div class="accordion" id="accordionExample-{{championship.name}}">

            {% if championship.championshipEncounterGroupe1.0 is defined and championship.championshipEncounterGroupe1.0.team1 is not null %} 
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 1",groupeNr:1,championshipEncounterGroupe:championship.championshipEncounterGroupe1}) }}
            {% endif %}
        

            {% if championship.championshipEncounterGroupe2.0 is defined and championship.championshipEncounterGroupe2.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 2",groupeNr:2,championshipEncounterGroupe:championship.championshipEncounterGroupe2}) }}
            {% endif %}
        
            
            {% if championship.championshipEncounterGroupe3.0 is defined and championship.championshipEncounterGroupe3.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 3",groupeNr:3,championshipEncounterGroupe:championship.championshipEncounterGroupe3}) }}
            {% endif %}
        

            {% if championship.championshipEncounterGroupe4.0 is defined and championship.championshipEncounterGroupe4.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 4",groupeNr:4,championshipEncounterGroupe:championship.championshipEncounterGroupe4}) }}
            {% endif %}
        
            {% if championship.championshipEncounterGroupe5.0 is defined and championship.championshipEncounterGroupe5.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 5",groupeNr:5,championshipEncounterGroupe:championship.championshipEncounterGroupe5}) }}
            {% endif %}
            

            {% if championship.championshipEncounterGroupe6.0 is defined and championship.championshipEncounterGroupe6.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 6",groupeNr:6,championshipEncounterGroupe:championship.championshipEncounterGroupe6}) }}
            {% endif %}
            

            {% if championship.championshipEncounterGroupe7.0 is defined and championship.championshipEncounterGroupe7.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 7",groupeNr:7,championshipEncounterGroupe:championship.championshipEncounterGroupe7}) }}
            {% endif %}
            

            {% if championship.championshipEncounterGroupe8.0 is defined and championship.championshipEncounterGroupe8.0.team1 is not null %}
                {{ include('snipets/championshipEncounterAccordeon.html.twig', {headline:"Gruppe 8",groupeNr:8,championshipEncounterGroupe:championship.championshipEncounterGroupe8}) }}
            {% endif %}
        </div>
        {{ include('snipets/tournamentChard.html.twig', {tournament:championship.tournament}) }}
    {% endfor %}

{% endblock %}