{% extends 'page/layout.html.twig' %}

{% block title %}Liga {{ liga.seasonName }}{% endblock %}

{% block page_contents %}
    <a href="/liga/list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </a>
    <h2 class="text-center">Liga {{ liga.seasonName }}</h2>


    {% set gruen ="#6eb493"  %}
    {% set rot ="#cb5858"  %}
    {% set gelb ="#e2b007"  %}
    {% set weis ="#fff"  %}
    <h2>Gesamtstatistik: {{ liga.seasonName }}</h2>

    <table class="table table-striped table-hover table-sm generalStatistic text-center">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4" style="background-color:{{ gruen }}">Verletzungen verursacht</th>
            <th colspan="4" style="background-color:{{ rot }}">Verletzungen erlitten</th>
        </tr>
        <tr>
            <th class="fa-rotate-90">#</th>
            <th class="fa-rotate-90 text-start">Mannschaft</th>
            <th class="fa-rotate-90">Punkte</th>
            <th class="fa-rotate-90" style="background-color:{{ gruen }}">S</th>
            <th class="fa-rotate-90" style="background-color:{{ gelb }}">U</th>
            <th class="fa-rotate-90" style="background-color:{{ rot }}">N</th>
            <th class="fa-rotate-90">Differenz</th>
            <th class="fa-rotate-90">Tore</th>
            <th class="fa-rotate-90">Gegentore</th>
            <th class="fa-rotate-90" style="background-color:{{ gruen }}">Leicht</th>
            <th class="fa-rotate-90" style="background-color:{{ gruen }}">Schwer</th>
            <th class="fa-rotate-90" style="background-color:{{ gruen }}">Kritisch</th>
            <th class="fa-rotate-90" style="background-color:{{ gruen }}">Kills</th>
            <th class="fa-rotate-90" style="background-color:{{ rot }}">Leicht</th>
            <th class="fa-rotate-90" style="background-color:{{ rot }}">Schwer</th>
            <th class="fa-rotate-90" style="background-color:{{ rot }}">Kritisch</th>
            <th class="fa-rotate-90" style="background-color:{{ rot }}">Tode</th>
            <th class="fa-rotate-90">Chancen</th>
            <th class="fa-rotate-90">Chancenverwertung</th>
        </tr>
        </thead>
        <tbody>

        {% for statistic in statistics %}

            <tr class="{{ loop.index is  even ? 'lightBlue' }}">
                <td >{{ loop.index }}</td>
                <td class="text-start"><a href="/team/show/{{ statistic.team.id }}">{{ statistic.team.name }}</a></td>
                <td>{{ statistic.points }}</td>
                <td style="background-color:{{ gruen }}">{{ statistic.wins }}</td>
                <td style="background-color:{{ gelb }}">{{ statistic.drows }}</td>
                <td style="background-color:{{ rot }}">{{ statistic.loss }}</td>
                <td>{{ statistic.goaleDifference }}</td>
                <td>{{ statistic.goales }}</td>
                <td>{{ statistic.reGoeals }}</td>
                <td style="background-color:{{ gruen }}">{{ statistic.injuriesDoneLeich }}</td>
                <td style="background-color:{{ gruen }}">{{ statistic.injurysDoneSchwer }}</td>
                <td style="background-color:{{ gruen }}">{{ statistic.injurysDoneKritisch }}</td>
                <td style="background-color:{{ gruen }}">{{ statistic.kills }}</td>
                <td style="background-color:{{ rot }}">{{ statistic.injuriesGetLeich }}</td>
                <td style="background-color:{{ rot }}">{{ statistic.injurysGetSchwer }}</td>
                <td style="background-color:{{ rot }}">{{ statistic.injurysGetKritisch }}</td>
                <td style="background-color:{{ rot }}">{{ statistic.deaths }}</td>
                <td>{{ statistic.opportunities }} - {{ statistic.opportunitiesOpponent }}</td>
                <td>{{ statistic.oddsRatio }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if liga.allStars %}
    <div class="row m-2">
        <div class=" col-6">
            <b>ADL Allstars:</b>
        </div>
        <div class=" col-12">
            <table  class="table table-striped-columns">
                <tr>
                    <th class="fs-6">Name</th>
                    <th class="fs-6">Position</th>
                    <th class="fs-6">Team</th>
                </tr>
                {% for best in liga.allStars.allStarsMambers %}
                    <tr>
                        <td class="fs-6">{{ best.fullname }}</td>
                        <td class="fs-6">{{ best.position.value }}</td>
                        <td class="fs-6">{{ best.team.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}
    <h2>Spieltage:</h2>
    {% for playday in liga.playdays %}
        {% if playday.date %}
        <div class="accordion" id="accordionExample-{{loop.index}}">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}" aria-expanded="false" aria-controls="collapse-{{loop.index}}">
                        {{loop.index}} - {{ playday.date | date("d-M-Y") }}
                    </button>
                </h2>

                <div id="collapse-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if playday.playerOfTheDay %}
                        <div class="row m-2">
                            <div class=" col-6">
                                <b>Spieler des Spieltages:</b>
                            </div>
                            <div class=" col-6">
                                {{ playday.playerOfTheDay.fullname }}
                            </div>
                            <div class=" col-6">
                                <b>Team des Spieltages:</b>
                            </div>
                            <div class=" col-6">
                                <a href="/team/show/{{ playday.teamOfTheDay.id }}" >{{ playday.teamOfTheDay.name }}</a>
                            </div>
                            <div class=" col-6">
                                <b>Mannschaft des Spieltages:</b>
                            </div>
                            <div class=" col-12">
                                <table  class="table table-striped-columns">
                                    <tr>
                                        <th class="fs-6">Name</th>
                                        <th class="fs-6">Position</th>
                                        <th class="fs-6">Team</th>
                                    </tr>
                                    {% for best in playday.bestPlayersOfTheDay %}

                                        <tr>
                                            <td class="fs-6">{{ best.fullname }}</td>
                                            <td class="fs-6">{{ best.position.value }}</td>
                                            <td class="fs-6">{{ best.team.name }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        {% for encounter in playday.encounters %}
                                        {% set team2color =gelb  %}
                                        {% set team1color =gelb  %}
                                    {% if encounter.pointsTeam1 < encounter.pointsTeam2 %}
                                        {% set team2color =gruen  %}
                                        {% set team1color =rot  %}
                                    {% endif %}
                            {% if encounter.pointsTeam1 > encounter.pointsTeam2 %}
                                {% set team2color =rot  %}
                                {% set team1color =gruen  %}
                            {% endif %}


                                    <table  class="table table-striped-columns table-sm generalStatistic text-center justify-content-center">
                                        <tr>
                                            <td class="spacialtd fs-2" style="background-color:{{ team1color }}"><b><a href="/team/show/{{ encounter.team1.id }}">{{ encounter.team1.name }}</a></b></td>
                                            <td class="spacialtd fs-2"> <b>{{ encounter.pointsTeam1 }} : {{ encounter.pointsTeam2 }} </b></td>
                                            <td class="spacialtd fs-2" style="background-color:{{ team2color }}"><b><a href="/team/show/{{ encounter.team2.id }}">{{ encounter.team2.name }}</a></b></td>
                                        </tr>
                                        <tr>
                                            <td class="spacialtd">
                                                {% if  encounter.injuryTeam1Leicht %} Leicht {{ encounter.injuryTeam1Leicht }}<br>{% endif %}
                                                {% if  encounter.injuryTeam1Schwer %} Schwer {{ encounter.injuryTeam1Schwer }}<br>{% endif %}
                                                {% if  encounter.injuryTeam1Kritisch %} Kritisch {{ encounter.injuryTeam1Kritisch }}<br>{% endif %}
                                                {% if  encounter.injuryTeam1Tot %} Tot {{ encounter.injuryTeam1Tot }}<br>{% endif %}
                                            </td>
                                            <td class="spacialtd"> Verletzte </td>
                                            <td class="spacialtd">
                                                {% if  encounter.injuryTeam2Leicht %} Leicht {{ encounter.injuryTeam2Leicht }}<br>{% endif %}
                                                {% if  encounter.injuryTeam2Schwer %} Schwer {{ encounter.injuryTeam2Schwer }}<br>{% endif %}
                                                {% if  encounter.injuryTeam2Kritisch %} Kritisch {{ encounter.injuryTeam2Kritisch }}<br>{% endif %}
                                                {% if  encounter.injuryTeam2Tot %} Tot {{ encounter.injuryTeam2Tot }}<br>{% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spacialtd">{{ encounter.chanceTeam1 }}</td>
                                            <td class="spacialtd"> Chancen </td>
                                            <td class="spacialtd">{{ encounter.chanceTeam2 }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="report-text">{{ encounter.report | raw}}</td>
                                        </tr>
                                    </table>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endif %}
    {% endfor %}
{% endblock %}