{% extends 'page/layout.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block page_contents %}
    {% set currentYear = 2082 %}
    <div class="statistics">
    <h2 class="text-center">Statistiken</h2>
    {# Ewige Tabelle #}
    {{ include('snipets/teamstatistics.html.twig') }}


    <div class="row">
        {# Meisten Tore Tabelle #}
        {{ include('snipets/statistics.goales.html.twig') }}
        <div class="col-8"></div>
        <div class="col-6">
            {# MostTeamOfTheDay Tabelle #}
            {{ include('snipets/statistics.mostteamoftheday.html.twig') }}
        </div>
        <div class="col-6">
            {# MostTeamOfTheDay Tabelle #}
            {{ include('snipets/statistics.mostplayeroftheday.html.twig') }}
        </div>


        <div class="col-6">
            {# kills Tabelle #}
            {{ include('snipets/statistics.kills.html.twig') }}
        </div>


        <div class="col-6">
            {# durchschnitsalter pro team Tabelle #}
            {{ include('snipets/statistics.squad.age.html.twig' ) }}
        </div>
        <div class="col-6">
            {# wertfollster kader Tabelle #}
            {{ include('snipets/statistics.karder.value.html.twig') }}
        </div>
        <div class="col-6">
            {# wertfollster spieler Tabelle #}
            {{ include('snipets/statistics.squad.value.html.twig') }}
        </div>

        {% for MostValueByPossition in MostValuesByPossition %}
        <div class="col-6">
            {# Top 10 der teuersten <position> Tabelle #}
            {{ include('snipets/statistics.value.possition.html.twig' ) }}

        </div>
        {% endfor %}

        {% for key, MethaTyps in TopTenMethaTyp %}

        <div class="col-4">
            {# Top 10 nach methatype Tabelle #}
            {{ include('snipets/statistics.top.methatyp.html.twig' ) }}
        </div>
        {% endfor %}

        {# meisten methavarianten Tabelle #}
        {{ include('snipets/statistics.methatyp.variants.html.twig' ) }}

    </div>
</div>

{% endblock %}
