{% extends 'page/layout.html.twig' %}

{% block title %}Teams{% endblock %}

{% block page_contents %}
    <h2 class="text-center">Team Liste</h2>
    <div class="row justify-content-center">
    {% for team in teams %}
        <div class=" col-3 m-2 p-0 ">
            <div class="card p-2">
                <div class="card-body">
                    <a href="/team/show/{{ team.id }}" >
                        {% if teamImages[team.id] is defined%}
                            <img src="data:image/jpeg;base64,{{ teamImages[team.id] }}" class="card-img-top"  alt="Logo von {{ team.name }}" />
                        {% else %}
                            <img src="https://placeholder.pics/svg/200" class="card-img-top" alt="{{ team.name }}">
                        {% endif %}
                        <h5 class="card-title text-center">{{ team.name }}</h5></a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}