{% extends 'page/layout.html.twig' %}

{% block title %}Team Anzeige{% endblock %}

{% block page_contents %}
    {% set gruen ="#6eb493"  %}
    {% set rot ="#cb5858"  %}
    {% set gelb ="#e2b007"  %}
    {% set weis ="#fff"  %}

    <a href="/team/list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
    </a>
    <h2 class="text-center">Team {{ team.name }}</h2>
    {% set active = [] %}
    {% set currentYear = 2082 %}
    {% set ersatz = [] %}
    {% set dead = [] %}

    {% for squad in team.squads %}
        {% if squad.dead == 1 %}
            {% set dead = dead|merge([squad]) %}
        {% else %}
            {% if squad.replacement != 1 %}
                {% set active = active|merge([squad]) %}
            {% else %}
                {% set ersatz = ersatz|merge([squad]) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% set encounters = [] %}

    {% for encounter in team.encounters %}

        {% set encounters = encounters|merge([encounter]) %}
    {% endfor %}
    {% for encounter in team.encounters2 %}
        {% set encounters = encounters|merge([encounter]) %}
    {% endfor %}

    <figure class="figure mx-auto d-block">
        {% if team.teaminfo.imageName %}
            <img src="/img/teams/{{ team.id }}/{{ team.teamInfo.imageName }}" class="figure-img img-fluid rounded mx-auto d-block custom-figure"
                         alt="{{ team.name }}">
        {% else %}
            <img src="https://placeholder.pics/svg/500" class="figure-img img-fluid rounded mx-auto d-block custom-figure" alt="{{ team.name }}">
        {% endif %}
        <figcaption class="figure-caption">{{ team.name }}</figcaption>
    </figure>
    <h2 class="mb-0">VEREINSINFO</h2>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Stadt</th>
            <td>{{ team.teamInfo.city }}</td>
        </tr>
        <tr>
            <th scope="row">Teamfarben</th>
            <td>{{ team.teamInfo.color }}</td>

        </tr>
        <tr>
            <th scope="row">Gründungsjahr</th>
            <td colspan="2">{{ team.teamInfo.foundingYear }}</td>
        </tr>
        <tr>
            <th scope="row">Präsident</th>
            <td colspan="2">{{ team.teamInfo.president }}</td>
        </tr>
        <tr>
            <th scope="row">Trainer</th>
            <td colspan="2">{{ team.teamInfo.trainer }}</td>
        </tr>
        <tr>
            <th scope="row">Sponsor</th>
            <td colspan="2">{{ team.teamInfo.sponsor }}</td>
        </tr>
        <tr>
            <th scope="row">Erfolge</th>
            <td colspan="2">{{ team.teamInfo.successes|raw }}</td>

        </tr>
        {% if team.teamOfTheDays| length > 0  %}
        <tr>
            <th scope="row">Bestes Team Des Tages:</th>
            <td colspan="2">
                <table  class="table table-striped-columns">
                    {% for best in team.teamOfTheDays %}
                        <tr>
                            <td>Liga: {{ best.league.seasonName }}</td>
                            <td>Spieltag: {{ best.date |date('d-M-Y') }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="accordion accordion-flush" id="accordionFlushExample">
    {% if team.teamInfo.info| length > 0  %}
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNew">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNew" aria-expanded="false" aria-controls="flush-collapseNew">
                <h2 class="mb-0">TEAM-INFO</h2>
            </button>
        </h2>
        <div id="flush-collapseNew" class="accordion-collapse collapse" aria-labelledby="flush-headingNew" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table table-striped" id="sortTable">
                    <tbody>
                    <tr>
                        <td>
                            <div class="accordion accordion-flush" id="accordionFlushExample2">
                                {{ team.teamInfo.info|raw }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h2 class="mb-0">BEGEGNUNGEN</h2>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table table-striped text-center" id="sortTable">
                        <tbody>
                        {% set SelectedLeague = [] %}
                        {% for encounter in encounters | sort((a, b) => a.playday.league <=> b.playday.league) %}
                            {% set SelectedLeague = SelectedLeague|merge([encounter.playday.league.seasonName]) %}
                        {% endfor %}
                        {% set leagues = [] %}
                        {% for name in SelectedLeague %}
                            {% if name not in leagues %}
                                {% set leagues = leagues|merge([name]) %}
                            {% endif %}
                        {% endfor %}
                            <tr>
                                <td>
                                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                                        {% for league in leagues %}
                                            <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo{{ league |replace({' ': '-','/':'-'}) }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{ league|replace({' ': '-','/':'-'}) }}" aria-expanded="false" aria-controls="flush-collapseTwo{{ league|replace({' ': '-','/':'-'}) }}">
                                                    <h2 class="mb-0">{{ league }}</h2>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo{{ league|replace({' ': '-','/':'-'}) }}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo{{ league|replace({' ': '-','/':'-'}) }}" data-bs-parent="#accordionFlushExample{{ league|replace({' ': '-','/':'-'}) }}">
                                                <div class="accordion-body">
                                                    {% set count = 0 %}
                                                    {% for encounter in encounters | sort((a, b) => a.playday.league <=> b.playday.league) %}
                                                        {% set team2color =gelb  %}
                                                        {% set team1color =gelb  %}
                                                        {% if encounter.pointsTeam1 < encounter.pointsTeam2 %}
                                                            {% set team2color =gruen  %}
                                                            {% set team1color =rot  %}
                                                        {% endif %}
                                                        {% if encounter.pointsTeam1 > encounter.pointsTeam2 %}
                                                            {% set team2color =rot  %}
                                                            {% set team1color =gruen  %}
                                                        {% endif %}
                                                        {% if encounter.playday.league.seasonName == league %}
                                                            {% set count = count + 1 %}
                                                            <table  class="table table-striped-columns table-sm generalStatistic text-center justify-content-center">
                                                                <tr>
                                                                    <td class="spacialtd">Sesson: {{ encounter.playday.league.seasonName }}</td>
                                                                    <td class="spacialtd"></td>
                                                                    <td class="spacialtd">Spieltag: {{ count }} ({{ encounter.playday.date|date('d-M-Y') }})</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="spacialtd" style="background-color:{{ team1color }}"><b class="fs-2">{{ encounter.team1.name }}</b></td>
                                                                    <td class="spacialtd" class="fs-2"> {{ encounter.pointsTeam1 }} : {{ encounter.pointsTeam2 }} </td>
                                                                    <td class="spacialtd" style="background-color:{{ team2color }}"><b class="fs-2">{{ encounter.team2.name }}</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="spacialtd">
                                                                        {% if  encounter.injuryTeam1Leicht %} Leicht {{ encounter.injuryTeam1Leicht }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam1Schwer %} Schwer {{ encounter.injuryTeam1Schwer }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam1Kritisch %} Kritisch {{ encounter.injuryTeam1Kritisch }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam1Tot %} Tot {{ encounter.injuryTeam1Tot }}<br>{% endif %}
                                                                    </td>
                                                                    <td class="spacialtd"> Verletzte </td>
                                                                    <td class="spacialtd">
                                                                        {% if  encounter.injuryTeam2Leicht %} Leicht {{ encounter.injuryTeam2Leicht }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam2Schwer %} Schwer {{ encounter.injuryTeam2Schwer }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam2Kritisch %} Kritisch {{ encounter.injuryTeam2Kritisch }}<br>{% endif %}
                                                                        {% if  encounter.injuryTeam2Tot %} Tot {{ encounter.injuryTeam2Tot }}<br>{% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="spacialtd">{{ encounter.chanceTeam1 }}</td>
                                                                    <td class="spacialtd"> Chancen </td>
                                                                    <td class="spacialtd">{{ encounter.chanceTeam2 }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" class="report-text"><p class="fs-6 report-text">{{ encounter.report | raw }}</p></td>
                                                                </tr>
                                                            </table>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <h2 class="mb-0">AKTUELLER KADER</h2>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card-body">
                        <div class="">
                            <table class="table table-hover w-auto squqdTable" id="sortTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Metatyp</th>
                                <th>Alter</th>
                                <th>Wert €</th>
                                <th>Anmerkung</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for squad in active %}
                                <tr>
                                    <td class="text-nowrap">{{ squad.firstName }} "{{ squad.figthName }}" {{ squad.name }}</td>
                                    <td>{{ squad.position.value }}</td>
                                    <td>{{ squad.methaTyp.value }}</td>
                                    <td>{{ (currentYear-squad.birthYear) }}</td>
                                    <td>{{ squad.value }}</td>
                                    <td class="fs-6">{{ squad.comment | raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThreeERSATZ">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThreeERSATZ" aria-expanded="false" aria-controls="flush-collapseThree">
                    <h2 class="mb-0">ERSATZ KADER</h2>
                </button>
            </h2>
            <div id="flush-collapseThreeERSATZ" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeERSATZ" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card-body">
                        <h2>Ersatzspieler:</h2>
                        <table class="table table-hover w-auto squqdTable" id="sortTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Metatyp</th>
                                <th>Alter</th>
                                <th>Wert €</th>
                                <th>Anmerkung</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for squad in ersatz %}
                                <tr>
                                    <td  class="text-nowrap">{{ squad.firstName }} "{{ squad.figthName }}" {{ squad.name }}</td>
                                    <td>{{ squad.position.value }}</td>
                                    <td>{{ squad.methaTyp.value }}</td>
                                    <td>{{ (currentYear-squad.birthYear) }}</td>
                                    <td>{{ squad.value }}</td>
                                    <td>{{ squad.comment | raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThreeVERSTORBEN" aria-expanded="false" aria-controls="flush-collapseThreeVERSTORBEN">
                    <h2 class="mb-0">VERSTORBEN</h2>
                </button>
            </h2>
            <div id="flush-collapseThreeVERSTORBEN" class="accordion-collapse collapse" aria-labelledby="flush-headingThreeVERSTORBEN" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="card-body">
                        <h2>Verstorben:</h2>
                        <table class="table table-hover" id="sortTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Metatyp</th>
                                <th>Alter</th>
                                <th>Wert €</th>
                                <th>Anmerkung</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for squad in dead %}
                                <tr>
                                    <td>{{ squad.firstName }}"{{ squad.figthName }}"{{ squad.name }}</td>
                                    <td>{{ squad.position.value }}</td>
                                    <td>{{ squad.methaTyp.value }}</td>
                                    <td>{{ squad.birthYear }}</td>
                                    <td>{{ squad.value }}</td>
                                    <td>{{ squad.comment | raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% for retro in team.teamInfo.retrospectives %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading{{ retro.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ retro.id }}" aria-expanded="false" aria-controls="flush-collapse{{ retro.id }}">
                    <h2 class="mb-0">{{ retro.title }}</h2>
                </button>
            </h2>
            <div id="flush-collapse{{ retro.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ retro.id }}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table table-striped" id="sortTable">
                        <tbody>
                        <tr>
                            <td>
                                <div class="accordion accordion-flush" id="accordionFlushExample2">
                                    {{ retro.report|raw }}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

    <br>
    <h3>weitere Teams</h3>
    {{ knp_menu_render('team') }}
    </p>
{% endblock %}