
<div class="tournament-container">
  <div class="tournament-headers">
    <h4>Achtelfinale</h4>
    <h4>Viertelfinale</h4>
    <h4>Halbfinale</h4>
    <h4>Finale</h4>
    <h4>Gewinner</h4>
  </div>
  <div class="tournament-brackets">
  {% if tournament.encounterRound4.0 is defined %} 
    <ul class="bracket bracket-1">
      {% for championshipEncounterGroupe in tournament.encounterRound4 %}
         {% set team2color =gelb  %}
        {% set team1color =gelb  %}
        {% if championshipEncounterGroupe.pointsTeam1 < championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =gruen  %}
            {% set team1color =rot  %}
        {% endif %}
        {% if championshipEncounterGroupe.pointsTeam1 > championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =rot  %}
            {% set team1color =gruen  %}
        {% endif %}
        <li class="team-item fs-6"><span class="p-1" style="background-color:{{ team1color }}">{{ championshipEncounterGroupe.team1.name }}</span> <br>VS <br> <span class="p-1" style="background-color:{{ team2color }}">{{ championshipEncounterGroupe.team2.name }}</span></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if tournament.encounterRound3.0 is defined %}
    <ul class="bracket bracket-2">
      {% for championshipEncounterGroupe in tournament.encounterRound3 %}
         {% set team2color =gelb  %}
        {% set team1color =gelb  %}
        {% if championshipEncounterGroupe.pointsTeam1 < championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =gruen  %}
            {% set team1color =rot  %}
        {% endif %}
        {% if championshipEncounterGroupe.pointsTeam1 > championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =rot  %}
            {% set team1color =gruen  %}
        {% endif %}
        <li class="team-item fs-6"><span class="p-1" style="background-color:{{ team1color }}">{{ championshipEncounterGroupe.team1.name }}</span> <br>VS <br> <span class="p-1" style="background-color:{{ team2color }}">{{ championshipEncounterGroupe.team2.name }}</span></li>
      {% endfor %}
    </ul>  
  {% endif %}
  {% if tournament.encounterRound2.0 is defined %}
    <ul class="bracket bracket-3">
      {% for championshipEncounterGroupe in tournament.encounterRound2 %}
        {% set team2color =gelb  %}
        {% set team1color =gelb  %}
        {% if championshipEncounterGroupe.pointsTeam1 < championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =gruen  %}
            {% set team1color =rot  %}
        {% endif %}
        {% if championshipEncounterGroupe.pointsTeam1 > championshipEncounterGroupe.pointsTeam2 %}
            {% set team2color =rot  %}
            {% set team1color =gruen  %}
        {% endif %}
        <li class="team-item fs-6"><span class="p-1" style="background-color:{{ team1color }}">{{ championshipEncounterGroupe.team1.name }}</span> <br>VS <br> <span class="p-1" style="background-color:{{ team2color }}">{{ championshipEncounterGroupe.team2.name }}</span></li>
      {% endfor %}
    </ul>
  {% endif %}
  <ul class="bracket bracket-4">
    {% for championshipEncounterGroupe in tournament.encounterRound1 %}
      {% set team2color =gelb  %}
      {% set team1color =gelb  %}
      {% if championshipEncounterGroupe.pointsTeam1 < championshipEncounterGroupe.pointsTeam2 %}
          {% set team2color =gruen  %}
          {% set team1color =rot  %}
      {% endif %}
      {% if championshipEncounterGroupe.pointsTeam1 > championshipEncounterGroupe.pointsTeam2 %}
          {% set team2color =rot  %}
          {% set team1color =gruen  %}
      {% endif %}
      <li class="team-item fs-6"><span class="p-1" style="background-color:{{ team1color }}">{{ championshipEncounterGroupe.team1.name }}</span> <br>VS <br> <span class="p-1" style="background-color:{{ team2color }}">{{ championshipEncounterGroupe.team2.name }}</span></li>
    {% endfor %}
  </ul>  

  <ul class="bracket bracket-5">
  {% if tournament.encounterRound1.0.pointsTeam1 > tournament.encounterRound1.0.pointsTeam2  %}
    <li class="team-item fs-6"><span class="p-1 finale" style="background-color:{{ gruen }}">{{ tournament.encounterRound1.0.team1.name }}</span></li>
  {% else %}
  <li class="team-item fs-6"><span class="p-1 finale" style="background-color:{{ gruen }}">{{ tournament.encounterRound1.0.team2.name }}</span></li>
  {% endif %}
  </ul>  
  </div>
</div>