{% set team2color =gelb  %}
    {% set team1color =gelb  %}
    {% if encounter.pointsTeam1 < encounter.pointsTeam2 %}
        {% set team2color =gruen  %}
        {% set team1color =rot  %}
    {% endif %}
    {% if encounter.pointsTeam1 > encounter.pointsTeam2 %}
        {% set team2color =rot  %}
        {% set team1color =gruen  %}
    {% endif %}
<table  class="table table-striped-columns table-sm generalStatistic text-center justify-content-center">
    <tr>
        <td class="spacialtd" colspan="3"><h3>Hinspiel</h3></td>
    </tr>
    <tr>
        <td class="spacialtd"></td>
        <td class="spacialtd"></td>
        <td class="spacialtd">Relegationsspieltag: ({{ encounter.date|date('d-M-Y') }})</td>
    </tr>
    <tr>
        <td class="spacialtd" style="background-color:{{ team1color }}"><b class="fs-2">{{ encounter.team1.name }}</b></td>
        <td class="spacialtd" class="fs-2"> {{ encounter.pointsTeam1 }} : {{ encounter.pointsTeam2 }} </td>
        <td class="spacialtd" style="background-color:{{ team2color }}"><b class="fs-2">{{ encounter.team2.name }}</b></td>
    </tr>
    <tr>
        <td class="spacialtd">
            {% if  encounter.injuryTeam1Leicht %} Leicht {{ encounter.injuryTeam1Leicht }}<br>{% endif %}
            {% if  encounter.injuryTeam1Schwer %} Schwer {{ encounter.injuryTeam1Schwer }}<br>{% endif %}
            {% if  encounter.injuryTeam1Kritisch %} Kritisch {{ encounter.injuryTeam1Kritisch }}<br>{% endif %}
            {% if  encounter.injuryTeam1Tot %} Tot {{ encounter.injuryTeam1Tot }}<br>{% endif %}
        </td>
        <td class="spacialtd"> Verletzte </td>
        <td class="spacialtd">
            {% if  encounter.injuryTeam2Leicht %} Leicht {{ encounter.injuryTeam2Leicht }}<br>{% endif %}
            {% if  encounter.injuryTeam2Schwer %} Schwer {{ encounter.injuryTeam2Schwer }}<br>{% endif %}
            {% if  encounter.injuryTeam2Kritisch %} Kritisch {{ encounter.injuryTeam2Kritisch }}<br>{% endif %}
            {% if  encounter.injuryTeam2Tot %} Tot {{ encounter.injuryTeam2Tot }}<br>{% endif %}
        </td>
    </tr>
    <tr>
        <td class="spacialtd">{{ encounter.chanceTeam1 }}</td>
        <td class="spacialtd"> Chancen </td>
        <td class="spacialtd">{{ encounter.chanceTeam2 }}</td>
    </tr>
    <tr>
        <td colspan="3" class="report-text"><p class="fs-6 report-text">{{ encounter.report | raw }}</p></td>
    </tr>
</table>
{% set team2color =gelb  %}
    {% set team1color =gelb  %}
    {% if encounter2.pointsTeam1 < encounter2.pointsTeam2 %}
        {% set team2color =gruen  %}
        {% set team1color =rot  %}
    {% endif %}
    {% if encounter2.pointsTeam1 > encounter2.pointsTeam2 %}
        {% set team2color =rot  %}
        {% set team1color =gruen  %}
    {% endif %}
<table  class="table table-striped-columns table-sm generalStatistic text-center justify-content-center">
    <tr>
        <td class="spacialtd" colspan="3"><h3>Rückspiel</h3></td>
    </tr>
    <tr>
        <td class="spacialtd"></td>
        <td class="spacialtd"></td>
        <td class="spacialtd">Relegationsspieltag: ({{ encounter2.date|date('d-M-Y') }})</td>
    </tr>
    <tr>
        <td class="spacialtd" style="background-color:{{ team1color }}"><b class="fs-2">{{ encounter2.team1.name }}</b></td>
        <td class="spacialtd" class="fs-2"> {{ encounter2.pointsTeam1 }} : {{ encounter2.pointsTeam2 }} </td>
        <td class="spacialtd" style="background-color:{{ team2color }}"><b class="fs-2">{{ encounter2.team2.name }}</b></td>
    </tr>
    <tr>
        <td class="spacialtd">
            {% if  encounter2.injuryTeam1Leicht %} Leicht {{ encounter2.injuryTeam1Leicht }}<br>{% endif %}
            {% if  encounter2.injuryTeam1Schwer %} Schwer {{ encounter2.injuryTeam1Schwer }}<br>{% endif %}
            {% if  encounter2.injuryTeam1Kritisch %} Kritisch {{ encounter2.injuryTeam1Kritisch }}<br>{% endif %}
            {% if  encounter2.injuryTeam1Tot %} Tot {{ encounter2.injuryTeam1Tot }}<br>{% endif %}
        </td>
        <td class="spacialtd"> Verletzte </td>
        <td class="spacialtd">
            {% if  encounter2.injuryTeam2Leicht %} Leicht {{ encounter2.injuryTeam2Leicht }}<br>{% endif %}
            {% if  encounter2.injuryTeam2Schwer %} Schwer {{ encounter2.injuryTeam2Schwer }}<br>{% endif %}
            {% if  encounter2.injuryTeam2Kritisch %} Kritisch {{ encounter2.injuryTeam2Kritisch }}<br>{% endif %}
            {% if  encounter2.injuryTeam2Tot %} Tot {{ encounter2.injuryTeam2Tot }}<br>{% endif %}
        </td>
    </tr>
    <tr>
        <td class="spacialtd">{{ encounter2.chanceTeam1 }}</td>
        <td class="spacialtd"> Chancen </td>
        <td class="spacialtd">{{ encounter2.chanceTeam2 }}</td>
    </tr>
    <tr>
        <td colspan="3" class="report-text"><p class="fs-6 report-text">{{ encounter2.report | raw }}</p></td>
    </tr>
</table>

