<table class="table table-hover w-auto squqdTable" id="sortTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Metatyp</th>
        <th>Alter</th>
        <th>Wert €</th>
        <th>Anmerkung</th>
        <th>Transvers</th>
    </tr>
    </thead>
    <tbody>
    {% if position.Scout is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Scout}) }}
    {% endif %}
    {% if position.Jaeger is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Jaeger}) }}
    {% endif %}
    {% if position.Brecher is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Brecher}) }}
    {% endif %}
    {% if position.Schuetze is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Schuetze}) }}
    {% endif %}
    {% if position.Stuermer is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Stuermer}) }}
    {% endif %}
    {% if position.Sani is defined %}
        {{ include('snipets/squad.tableRow.html.twig', {squads:position.Sani}) }}
    {% endif %}
    </tbody>
</table>
