<table class="table table-striped text-center caption-top table-hover table-sm generalStatistic">
    <caption><h2 class="text-center">Top 10 der teuersten {{ MostValueByPossition.0.position }}</h2></caption>
    <tr>
        <th>#</th>
        <th>Spielername</th>
        <th>Wert</th>
        <th>Team</th>
    </tr>
    {% for MostValue in MostValueByPossition %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ MostValue.name }}</td>
            <td>{{ MostValue.value | format_currency('EUR', {fraction_digit: 0}) }}</td>
            <td>{{ MostValue.team.name }}</td>
        </tr>
    {% endfor %}
</table>
